
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    text-align: center;
    font-size: 20px;
    background-color: aqua;
    box-shadow: 0px 3px 20px darkblue;
}
ul{
list-style: none;
display: flex;
gap: 10px;
justify-content: space-between;
}

